asgiref==3.2.3
Bootstrap==4.6.0
Django==3.0.3
django-cors-headers==3.2.1
djangorestframework==3.11.0
Leaflet==1.7.1
Python==3.9.1
pytz==2021.1
React==17.0.1
React-DOM==17.0.1
React-Router-DOM==5.2.0
schedule==1.0.0
sqlparse==0.3.0