@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@import url("https://cdn.syncfusion.com/ej2/material.css");

.leaflet-container {
  width: 75%;
  height: 75vh;
}

* {
  box-sizing: border-box;
}
body {
  background: whitesmoke;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.login-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.login-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

​ .signup-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  text-align: left;
}

.signup-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.signup-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 100px 55px 45px 45px;
  border-radius: 15px;
}

.login-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.login-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.login-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.have-account,
.have-account a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.have-account a {
  color: #167bff;
}

.map {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

.about-title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

.home-title {
  color: white;
  padding-top: 280px;
  padding-bottom: 20px;
  padding-right: 100px;
}

.parking-location-title {
  color: white;
  padding-right: 200px;
  padding-bottom: 10px;
}

.parking-location-list {
  padding-right: 10px;
}

.form-select {
  border-radius: 5px;
}

.location-icon {
  padding-right: 240px;
}

.booking-button {
  margin-top: 30px;
  margin-right: 210px;
  padding-right: 160px;
  padding-left: 160px;
  background: red;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.account-title {
  padding-top: 120px;
  padding-bottom: 20px;
}

.account-title h2 {
  padding-left: 100px;
  padding-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.general-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  text-align: left;
}

.general-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.general-inner {
  width: 600px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 45px 55px 45px 45px;
  border-radius: 15px;
}

.vehicle-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  text-align: left;
}

.vehicle-inner {
  width: 600px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px 45px 20px 45px;
  border-radius: 15px;
}

.vehicle-button {
  margin-left: 230px;
  border-radius: 5px;
  justify-content: center;
  align-self: center;
}

.booking-title {
  padding-top: 170px;
  padding-bottom: 20px;
}

.column-booking-left {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-booking-right {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.booking-parking-location-list {
  padding-top: 20px;
  padding-bottom: 20px;
}
